* {
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* Navegação */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

nav {
    margin-top: 10px;
    margin-left: 1em;
    display: flex;
}

a {
    text-decoration: none;
}


#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    color: #D2872C;
    font-size: 28px;
    font-weight: 600;
}

#navbar {
    margin-left: auto;
}

ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    margin-left: auto;
    margin: 24px 82px 24px 0;
}

li a {
    padding: 8px;
    color: #766F68;
    font-size: 20px;
}

li a:hover {
    color: #D2872C;
    transition: 0.5s;
}

/* Conteúdo */

section {
    width: 100%;
}

main {
    display: flex;
    flex-direction: row;
    margin: 2.25em 4em;
    padding: 10px;
}

#apresentacao {
    padding-left: 5em;
    margin: 20px 0 20px 20px;
    position: absolute;
    top: 65px;
    left: -20px;
    z-index: 5;
}

#apresentacao h1, p {
    color: #766F68;
    font-size: 4.5em;
}

#apresentacao p {
    font-size: 1.9em;
}

#apresentacao button {
    width: 200px;
    height: 50px;
    margin-top: 15px;
    margin-left: 2em;
    padding: 10px 30px;
    background-color: #D2872C;
    border: none;
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    border-radius: 12px;
    cursor: pointer;
}

#img-reuniao {
    position: relative;
    top: 8em;
    left: 25em;
}

img {
    width: 800px;
    height: 400px;
}